@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.polymorph--metadata--card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    border-bottom: unset;
  }
  .card--label {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $black;
  }
  .card--price {
    display: flex;
    align-items: center;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    img {
      margin-right: 4px;
    }
  }
  .card--address {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4d66eb;
  }
}
