@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.welcome--marquee {
  position: relative;
  background-color: $black;
  .border--top {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 2px;
    background-image: linear-gradient(
      90deg,
      rgba(42, 208, 202, 0.5018382352941176) 0%,
      rgba(225, 246, 100, 0.5) 20%,
      rgba(254, 176, 254, 0.5) 40%,
      rgba(171, 179, 252, 0.5) 60%,
      rgba(93, 247, 164, 0.5) 80%,
      rgba(88, 196, 246, 0.5) 100%
    );
  }
  span {
    font-family: $sharpGroteskBoldFont;
    font-style: normal;
    font-weight: bold;
    font-size: 19.371px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    mix-blend-mode: normal;
    margin: 0 2px;
  }
  .marquee--text--polymorph {
    background-blend-mode: screen;
    background: conic-gradient(
      from 176.21deg at 50% 50%,
      #000000 -24.66deg,
      #ffffff 0.25deg,
      #000000 50.63deg,
      #000000 51.97deg,
      #ffffff 88.12deg,
      #000000 142.5deg,
      #ffffff 196.87deg,
      #000000 256.87deg,
      #ffffff 300deg,
      #000000 335.2deg,
      #000000 335.34deg,
      #ffffff 360.25deg
    );
    background: radial-gradient(
      95.11% 95.11% at 36.64% 4.89%,
      #2ad0ca 0%,
      #e1f664 22.92%,
      #feb0fe 46.88%,
      #abb3fc 68.23%,
      #5df7a4 87.5%,
      #58c4f6 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .marquee--text--universe {
    background: radial-gradient(
        95.11% 95.11% at 36.64% 4.89%,
        #2ad0ca 0%,
        #e1f664 22.92%,
        #feb0fe 46.88%,
        #abb3fc 68.23%,
        #5df7a4 87.5%,
        #58c4f6 100%
      ),
      conic-gradient(
        from 176.21deg at 50% 50%,
        #000000 -24.66deg,
        #ffffff 0.25deg,
        #000000 50.63deg,
        #000000 51.97deg,
        #ffffff 88.12deg,
        #000000 142.5deg,
        #ffffff 196.87deg,
        #000000 256.87deg,
        #ffffff 300deg,
        #000000 335.2deg,
        #000000 335.34deg,
        #ffffff 360.25deg
      );
    background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: $black;
    letter-spacing: 2px;
  }
}

.about--wrapper--row1 {
  min-height: 500px;
  width: 90%;
  padding-top: 90px;
  padding-bottom: 0px;
  @include lg {
    min-height: 355px;
  }
  @include sm {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    div {
      max-width: 627px;
      width: 100%;
      align-items: center;
    }
  }
  .polymorph--section1--row1--left--block {
    img {
      position: relative;
      right: 45px;
      @include xl {
        right: 30px;
      }
      @include lg {
        right: 10px;
      }
      @include sm {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        // margin-top: 65px;
      }
    }
    h2{
      display: none;
      @include sm {
      display: none;
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      // text-align: center;
    }
    }
  }
  .new--technology {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px;
    @include sm {
      padding: 0;
    }
    h2 {
      @include lg {
        font-size: 26px;
      }
      @include sm {
        // display: none;
        max-width: 100%;
      }
      margin-top: 15px;
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 45px;
      text-align: left;
      max-width: 350px;
    }
    p {
      @include lg {
        font-size: 14px;
      }
      @include sm {
        font-size: 14px;
      }
      max-width: 445px;
      margin-top: 30px;
      font-family: $spaceGroteskFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #0f0e0e;
    }
  }
}
.about--wrapper--row2 {
  padding-bottom: 90px;
  min-height: 500px;
  width: 90%;
  overflow: hidden;
  @include lg {
    min-height: 355px;
  }
  @include sm {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    padding: 60px 20px;
    div {
      max-width: 627px;
      width: 100%;
      align-items: center;
    }
  }
  .released--left--block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px;
    position: relative;
    z-index: 80;
    @include lg {
      padding-left: 70px;
    }
    @include sm {
      padding: 0;
    }
    h2 {
      @include lg {
        font-size: 26px;
        max-width: 285px;
      }
      @include sm {
        max-width: 100%;
      }
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 45px;
      text-align: left;
      max-width: 350px;
    }
    p {
      @include lg {
        font-size: 14px;
        padding-right: 20px;
      }
      @include sm {
        font-size: 14px;
        padding: 0;
        max-width: unset;
        margin-top: 15px;
      }
      max-width: 445px;
      margin-top: 22px;
      font-family: $spaceGroteskFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22,4px;
      color: #666666;
    }
    button {
      margin-top: 30px;
      @include sm{
        width: 100%;
      }
    }
  }
  .relased--right--block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include sm {
      min-height: 400px;
      justify-content: center;
    }
    .images--charts--parent {
      @include sm {
        text-align: center;
      }
      .dominant--image {
        z-index: 10;
        position: relative;
        width: 500px;
        @include xl {
          width: 415px;
        }
        @include lg {
          width: 325px;
        }
        @include sm {
          width: 100%;
        }
      }
      .row2--background {
        // filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14));
        position: absolute;
        left: 85px;
        max-height: 170%;
        bottom: -83px;
        @include xl {
          bottom: -62px;
          left: 70px;
        }
        @include lg {
          bottom: -50px;
          left: 4vw;
        }
        @include sm {
          bottom: 40px;
          top: 0;
          margin: auto;
          max-height: 600px;
          height: 100vw;
          left: 15vw;
        }
      }
      h2 {
        display: none;
        @include sm {
          display: none;
          font-size: 26px;
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
          text-align: left;
          text-align: center;
        }
      } 
    }
  }
}
