@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.latest--features--section {
  background-color: $black;
  padding: 90px 60px;
  position: relative;
  &--container {
    max-width: 1110px;
    margin: 0 auto;
    h1.title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      color: $white;
      margin-bottom: 50px;
      @include sm {
        font-size: 20px;
        line-height: 130%;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;

      .grid--item {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 2rem;

        img {
          height: 64px;
          width: 64px;
        }

        @include md {
          padding: 1rem;
        }

        h2 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: $white;
          margin-top: 25px;
          margin-bottom: 12px;
        }
        .burn-mint-h2 {
          margin-top: 22px;
          margin-bottom: 11px;
        }
        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 160%;
          color: $white-transparent;
          max-width: 250px;
          margin-bottom: 46px;
          @include lg {
            max-width: 100%;
          }
        }
        .light-border-button {
          display: flex;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: $white;
          position: relative;
          box-shadow: 2px 1000px 1px rgba(26, 26, 26, 1) inset;
          margin-top: auto;
          max-width: 136px;
          /* Website/Buttons (normal) */
          font-family: "Space Grotesk";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;

          &::before {
            content: "";
            background-image: none;
            box-shadow: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 12px;
            background: linear-gradient(101deg, #bceb00, #00eaea);
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
          }

          svg {
            transform: rotate(180deg);
            margin-left: 10px;
          }

          &:hover {
            transform: scale(1.05);
            box-shadow: 2px 1000px 1px rgba(26, 26, 26, 0.9) inset !important;
          }

          @include sm {
            width: 100%;
          }
        }
        .button-disabled {
          color: rgba(255, 255, 255, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 12px;
          padding: 11px 16px;
          margin-top: auto;
          max-width: 136px;
          /* Website/Buttons (normal) */
          font-family: "Space Grotesk";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          &:hover {
            cursor: default;
          }
          @include sm {
            width: 100%;
          }
        }
      }
      @include lg {
        grid-template-columns: repeat(3, 1fr);
      }
      @include sm {
        grid-template-columns: 1fr;
      }
    }
  }
  @include sm {
    padding: 90px 20px;
  }
}
