.table--row--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    margin: 10px 0;
    padding: 0 15px;
    .left--block {
        width: 15%;
        display: flex;
        align-items: center;
        // justify-content: center;
        >div {
            width: 42px;
            height: 42px;
            background-image: url("../../../assets//images/table-image-background.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    .center--block {
        width: 65%;
        padding-left: 5px;
        p {
            font-family: Space Grotesk;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
            color: #000000;
            margin-bottom: 4px;
            span {
                font-weight: normal;
            }
        }
        .event--block {
            display: flex;
            align-items: center;
            .event--type {
                margin-right: 5px;
                display: flex;
                align-items: center;
                padding-right: 8px;
                border-radius: 4px;

                img {
                    height: 24px
                }

                &--mint {
                    background-color: #427ef51a;
                }

                &--scramble {
                    background-color: #FFDBB0;
                }

                &--transfer {
                    background-color: #BCDFFF;
                }

                &--list {
                    background-color: #a3f2b9;
                }
            }

            .event--text {
                font-family: Space Grotesk;
                font-style: normal;
                font-size: 12px;
                line-height: 160%;
                color: #000000;
                font-weight: normal;
                text-transform: capitalize;
                line-height: 24px;
            }
        }
    }
    .right--block {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            font-family: Space Grotesk;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
            text-align: right;
            color: #000000;
            display: flex;
            align-items: center;
            img {
                height: 24px;
            }
        }
        .price--usd {
            color: rgba(0, 0, 0, 0.4);
            font-weight: normal;
        }
    }
}